.tag {
    background-color: lightgreen;
  
    &--clickable {
      cursor: pointer;
      &:hover {
        background-color: green;
      }
    }
  
    &--selected {
      background-color: darkgreen;
      color: whitesmoke;
    }
  }
  