@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;
@use "../../styles/partials/typography";

* {
  font-family: "Outfit";
}

.tag {
  background-color: $white;
  border: 1px solid $seagreen;
  border-radius: 10px;
  gap: 20px;
  padding-top: 8px;
  padding: 8px;
  font-family: "outfit";
  @include desktop{
    font-size: 20px;
  }


  &--clickable {
    cursor: pointer;

    &:hover {
      background-color: $forestgreen;
    }
  }

  &--selected {
    background-color: $forestgreen;
    color: $white;
  }
}