@use "../../styles/partials/global.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;
@use "../../styles/partials/typography";


.photo__page {

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 6.5rem;
        background-color: $pistachio;
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
        @include desktop{


        }
    }
    &--nav{
justify-content: right;
margin-right: 0;
padding-right: 16px;
@include desktop{

    padding-right: 22px;
}

    }

    &-logo {
        margin-left: 0;
        font-family: "Newsreader";
        font-size: 32px;
        padding-top: 10px;
        padding-bottom: 3rem;
        line-height: 32px;
        font-weight: 400;

        @include tablet {
            font-size: 40px;
            line-height: 40px;
            font-weight: 400;
            padding-left: 16px;
        }

        @include desktop {
            font-size: 40px;
            line-height: 40px;
            font-weight: 400;
            padding-left: 16px;
        }


    }

    &-box {
        background-color: $pistachio;
        width: 100%;
        padding-left: 22px;
        padding-right: 22px;
        justify-content: center;
        overflow: hidden;

    }

    &-link {
        font-family: 'Outfit';
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: $forestgreen;
        margin-right: 0;
        margin-left: 0.5rem;

        @include desktop {
            font-size: 20px;
            font-weight: 500;
            margin-right: 0;
        }
    }


}