@use "./typography";

* {
    box-sizing: border-box;
    font-family: "Newsreader";
    margin:0 auto;
    padding: 0;
}

// body,
// button {
//     font-size: 1.3rem;
//     font-family: "Outfit";
// }

// ul {
//     list-style-type: none;
//     padding: 0;
//     display: flex;
//     flex-wrap: wrap;
//     gap: 0.3rem;
// }