//PRIMARY COLORS
$black: #0C1E1A;
$forestgreen: #1e6655;
$pistachio: #effaf7;

//SECONDARY COLORS
$seagreen: #b7cec9;
$sage: #e4efec;
$white: #ffffff;

//different screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;