@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;
@use "../../styles/partials/typography";


.label {
  font-size: 12px;
  line-height: 15px;


  @include desktop {
    font-size: 12px;
    font-weight: 400;
  }
}