@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;
@use "../../styles/partials/typography";

* {
    margin: 0 auto;
}

.home div {
    font-family: "Newsreader";
    margin: 0;

    &__photos {
        width: max-width 100%;
        padding-bottom: 12px;

    }

    &__photos--list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // Creates a responsive grid
        gap: 1rem;
        padding: 16px;
        background-color: $pistachio;


        @include desktop {
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;
        }
    }


}


.drawer {
    display: none;

    @include desktop {
        width: 400px;
    }

    &--open {
        display: block;
    }
}