@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;
@use "../../styles/partials/typography";

* {
    margin: 0 auto;
}

.home {
    font-family: "Newsreader";
    margin: 0;


&__contents{

    display: flex;
    flex-direction: column;
    @include desktop{

    flex-direction: row-reverse;
    ///fix the width
    /// height same height as parents photo height
    /// padding
    /// 
    }
}
    &__photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: max-width 100%;


    }

    &__photos--link {
        display: inline-block;
        text-decoration: none;
        width: 100%;

        @include tablet {
            width: 45%;
        }

        @include desktop {
            width: 31%;
        }

    }

    .home__photos--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        background-color: $pistachio;
        padding: 16px;

        // @include desktop {
        //     gap: ;
        // }
    }

}


.drawer {
    display: none;

    @include desktop {
        width: 400px;
    }

    &--open {
        display: block;
    }
}