@use "/src/styles/partials/global";
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variable" as *;
@use "/src/styles/partials/typography";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ourmission {
    background-color: $pistachio;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 48px;

    &__text {
        color: $black;
        font-family: "Newsreader";
        font-size: 26px;
        font-weight: 100;
        padding-top: 20px;
        line-height: 38px;
        font-style: italic;

        @include tablet {
            padding-left: 16px;
            font-size: 52px;
            font-weight: 100;
            line-height: 66px;
        }

        @include desktop {
            padding-left: 16px;
            font-size: 52px;
            line-height: 66px;
        }


    }
 
}

h5 {
    font-family: "Outfit";
    font-size: 12px;
    font-weight: 300;
    padding-top: 50px;

    @include tablet {
        padding-left: 16px;
        font-size: 20px;
    }

    @include desktop {
        padding-left: 16px;
        font-size: 20px;
    }

}


h2 {
    color: $black;
    font-family: "Newsreader";
    font-size: 26px;
    font-weight: 100;
    padding-top: 20px;
    line-height: 38px;

    @include tablet {
        padding-left: 16px;
        font-size: 52px;
        font-weight: 100;
        line-height: 66px;
    }

    @include desktop {
        padding-left: 16px;
        font-size: 52px;
        line-height: 66px;
        width: 50%;
    }
  

}

