@use "/src/styles/partials/global";
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variable" as *;
@use "/src/styles/partials/typography";


.header {
    display: flex;
    justify-content: space-between;
    gap: 6.5rem;
    background-color: $pistachio;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;

    &__filter {
        font-size: 18px;
        color: $forestgreen;
        background-color: $pistachio;
        border: 2px solid $forestgreen;
        border-radius: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 8rem;
        display: flex;
        justify-content: space-around;



        @include tablet {
            padding-right: 22px;
            padding-left: 22px;
            width: 12rem;
        }

        @include desktop {
            padding-right: 22px;
            padding-left: 22px;
            width: 12rem;
        }



        &:hover {
            background-color: $forestgreen;
            color: $white;
            cursor: pointer;
        }

        &__filter--img {

            height: 1rem;
        }


    }

    &__text {
        color: $black;
        font-family: "Newsreader";
        font-size: 26px;
        font-weight: 100;
        padding-top: 20px;
        line-height: 38px;
        font-style: italic;

        @include tablet {
            padding-left: 16px;
            font-size: 52px;
            font-weight: 100;
            line-height: 66px;
        }

        @include desktop {
            padding-left: 16px;
            font-size: 52px;
            line-height: 66px;
        }

    }

    h1 {
        font-family: "Newsreader";
        font-size: 32px;
        padding-top: 10px;
        line-height: 32px;
        font-weight: 400;

        @include tablet {
            font-size: 40px;
            line-height: 40px;
            font-weight: 400;
            padding-left: 16px;
        }

        @include desktop {
            font-size: 40px;
            line-height: 40px;
            font-weight: 400;
            padding-left: 16px;
        }


    }

}

h5 {
    font-family: "Outfit";
    font-size: 12px;
    font-weight: 300;
    padding-top: 50px;

    @include tablet {
        padding-left: 16px;
        font-size: 20px;
    }

    @include desktop {
        padding-left: 16px;
        font-size: 20px;
    }

}


h2 {
    color: $black;
    font-family: "Newsreader";
    font-size: 26px;
    font-weight: 100;
    padding-top: 20px;
    line-height: 38px;

    @include tablet {
        padding-left: 16px;
        font-size: 52px;
        font-weight: 100;
        line-height: 66px;
    }

    @include desktop {
        padding-left: 16px;
        font-size: 52px;
        line-height: 66px;
        width: 50%;
    }


}