@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;
@use "../../styles/partials/typography" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

.footer {
    background-color: $pistachio;
    padding-left: 16px;
    padding-top: 50px;
    padding-bottom: 48px;

    @include desktop {
        padding-top: 7rem;
        padding-left: 24px;
    }

    &__column--gereral--three {

        @include desktop {
            display: flex;
            justify-content: right;
            gap: 8rem;
            padding-right: 20px;
            margin-right: 0;
            padding-right: 22px;
        }

    }

    &__column {
        @include desktop {
            gap: 20px;
            display: flex;
            padding-right: 20px;

        }
    }

    &__column--general {
        @include desktop {
            display: flex;
            justify-content: space-around;
            gap: 8rem;
        }
    }

    &__column--general--one {

        padding-bottom: 16px;

        @include desktop {
            display: flex;
            flex-direction: column;
            height: 5rem;

        }
    }

    &__column--general--two {

        padding-bottom: 16px;

        @include desktop {
            display: flex;
            flex-direction: column;
            height: 5rem;

        }
    }


    &__logo {
        font-family: "Newsreader";
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 24px;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        color: $black;

        @include desktop {
            padding-left: 22px;
            font-size: 52px;
            font-weight: 300;
            padding-bottom: 10rem;
        }

    }

    h4 {
        font-family: 'Outfit', sans-serif;
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        padding-bottom: 8px;
        color: $black;

        @include tablet {
            font-size: 20px;

        }

        @include desktop {
            font-size: 20px;


        }
    }

    &--inspiration {
        padding-bottom: 32px;
    }



    &__bottom--socials {
        display: inline-flex;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 10px;

    }

    &__bottom--copyright {
        display: inline-flex;
        gap: 20px;
        padding-right: 20px;
        font-family: 'Outfit';
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
        color: $seagreen;

        @include tablet {
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
            justify-content: flex-start;
            gap: 1rem;
        }

        @include desktop {
            font-size: 14px;
            line-height: 15px;
            font-weight: 500;
            justify-content: flex-start;
            gap: 1rem;

        }




    }
}