@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;
@use "../../styles/partials/typography";


// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: 'Outfit';
// }

.footer {
    background-color: $pistachio;
    padding-left: 16px;
    padding-top: 50px;
    padding-bottom: 48px;

    @include desktop {
        padding-top: 50px;
        padding-left: 24px;

    }

    &__column {
        display: flex;
        flex-direction: column;

    }

    h1 {
        font-family: "Newsreader";
        padding-bottom: 24px;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        color: $black;
    }

    h4 {
        font-family: 'Outfit', sans-serif;
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        padding-bottom: 8px;
        color: $black;

        @include tablet {
            font-size: 20px;

        }

        @include desktop {
            font-size: 20px;


        }
    }

    &--inspiration {
        padding-bottom: 32px;
    }



    &__bottom--socials {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10px;

    }

    &__bottom--copyright {
        display: flex;
        justify-content: space-between;
        padding-right: 50px;
        font-family: 'Outfit';
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
        color: $seagreen;

        @include tablet {
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
            justify-content: flex-start;
            gap: 1rem;
        }

        @include desktop {
            font-size: 14px;
            line-height: 15px;
            font-weight: 500;
            justify-content: flex-start;
            gap: 1rem;

        }


    }
}