@use "../src/styles/partials/global";
@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variable" as *;


.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-right: 16px;
    padding-left: 16px;
    background-color: $pistachio;

    @include desktop {
        flex: 1;
    }
}