@use "/src/styles/partials/global";
@use "/src/styles/partials/mixins" as *;

.app {
    &__content {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: 4rem;
        }
    }
}

.drawer {
    display: none;

    @include desktop {
        width: 400px;
    }

    &--open {
        display: block;
    }
}

.photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include desktop {
        flex: 1;
    }
}